//
// Video Stage - Footer
// --------------------------------------------------

.video--stage-footer {
	cursor:pointer;
	position: relative;
	height:180px;
	display:table;
	width:100%;
	z-index:2;
}

.video--toolbar-bottom {
	display:table-cell;
	vertical-align: middle;
	@include transition(all 0.2s ease-in-out);
	text-align: center;
	opacity:0.2;
	button {
		margin:10px;
	}
}

.video--stage-footer {
	&:hover {
		.video--toolbar-bottom {
			opacity: 1;
		}
	}
}

.video--toolbar-bottom {
	.btn--mute-voice,
	.btn--mute-video {
		overflow:hidden;
		position:relative;
		&:hover,
		&:active,
		&:focus {
			background: palette(red);
			&::before {
				position: absolute;
				display: block;
				content: '';
				background: rgba($white, 0.5);
				width: 4px;
				height: 100%;
				left:50%;
				@include transform(rotate(45deg));
			}
		}
	}
}