//
// Base
// --------------------------------------------------

html, 
body {
	height: 100%!important;
}
html, 
body, * {
  padding: 0;
  margin: 0;
}

body {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

body {
	background: palette(clouds);
}

.site--wrapper {
	height:100%;
	@include mq(mobile-sm) {
		min-width: 320px;
	}
}

.site--content {
  min-height: 100%;
  padding-bottom: calc(91px + 4em);
}

@keyframes kenburns {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  50% {
      transform: scale3d(1.5, 1.5, 1.5) translate3d(0px, 0px, 0px);
      animation-timing-function: ease-in;
      opacity: 1;
  }
  100% {
      transform: scale3d(2, 2, 2) translate3d(0px, 0px, 0px);
      opacity: 1;
  }
}