//
// Main Stage Footer - Chat Bar
// --------------------------------------------------

.main--stage-footer {
	position: fixed;
	height:100px;
	bottom: 0;
	right:0;
	z-index: 2;
	background: darken(palette(clouds),3%);
	@include mq(mobile-lg) {
		width: 100%!important;
		z-index:1;
	}
}

.footer-inner {
	position: relative;
	width:100%;
	height:100%;
	padding-left: 1em;
	padding-right: 1em;
	@include mq(mobile-sm) {
		padding-right: 0.5em;
		padding-left: 0.5em;
	}
}

.main--stage-footer {
	.toolbar--chat-inner {
		padding-top: 1em;
		padding-bottom: 1em;
	}
}

.main--stage-footer {
	.toolbar--chat-inner,
	.form--chat,
	.form-group,
	.textarea--chat {
		position: relative;
		height: 100%;
	}
}


// Chatbar Form
.form--chat {
	@include clearfix;
	height: 100%;
}

.textarea--chat {
	width: calc(100% - 110px);
	float:left;
	position: relative;
	textarea {
		padding: 1em 0 1em 1em;
		font-size: em(15px);
		min-height: 100%;
		resize: none;
		width: 100%;
		background: transparent;
		@include input-placeholder {
			color: palette(gray, light);
			font-family: $font--family-light;
			vertical-align: middle;
		}
	}
}
.toolbar--chat {
	min-width: 110px;
	@include mq(mobile-sm) {
		min-width: initial;
	}
}
.form--chat {
	.form-group {
		margin-bottom:0;
	}
	.toolbar--chat {
		height:100%;
		display:table;
	}
	.toolbar--chat-inner {
		display:table-cell;
		vertical-align: middle;
	}
	.btn {
		&:last-child {
			margin-left: 5px;
		}
	}
}
