//
// Main Stage
// --------------------------------------------------

.main--stage {
	@include clearfix;
	background: palette(clouds);
	max-width: calc(100% - 220px);
	min-height: 100%;
	overflow-y: scroll;
	box-shadow: 1px 0 0 palette(clouds, darkest);
	@include mq(mobile-lg) {
		position: absolute;
		z-index: 999;
		width:calc(100% - 65px);
		max-width: none;
		right:0;
		margin-top:0;
		margin-bottom:0;
		height:100%;
	}
}

