//
// Main Stage - Header
// --------------------------------------------------

.main--stage-header {
	padding-left: 1em;
	padding-right:1em;
	position: fixed;
	top:28px;
	right:0;
	background: darken(palette(clouds),3%);
	z-index: 3;
	@include mq(mobile-lg) {
		width: 100%!important;
		height: 70px;
	}
	@include mq(mobile-sm) {
		width: 100%!important;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

.header-inner {
	position: relative;
	@include clearfix;
	display:table;
	width:100%;
}

.user--secondary {
	float: left;
}

.toolbar--chat-top {
	text-align: right;
	display:table-cell;
	vertical-align:middle;
	max-width: 100px;
	.btn--back-to-contacts {
		display:none;
		background: palette(green-hub3c);
		&:hover,
		&:active,
		&:focus {
			background: darken(palette(green-hub3c),5%);
		}
		@include mq(mobile-sm) {
			display:inline-block;
		}
	}
}