//
// Extends
// --------------------------------------------------

// Status Label
%status-label {
	display:block;
	position: absolute;
	border-radius: 50%;
	&.online {
		background: palette(green-hub3c);
	}
	&.offline {
		background: palette(grey, light);
	}
	&.idle {
		background: palette(yellow, light);
	}
}

%status-lg {
	@extend %status-label;
	width: 12px;
	height: 12px;
	bottom: 10px;
	left: 45px;
	@include mq(mobile-lg) {
		left: 40px;
		bottom: 10px;
	}
}

%status-sm {
	@extend %status-label;
	width: 10px;
	height: 10px;
	bottom: 0em;
}

%liststyle {
	list-style: none;
	margin-left:0;
	padding-left:0;
}

%absolute--center-v {
	position: absolute;
	top:0;
	bottom:0;
	margin: auto;
}

%absolute--center-h {
	position: absolute;
	left:0;
	right:0;
	margin: auto;
}

%absolute--center {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}