//
// Helpers
// --------------------------------------------------

// Get rid of bootsrap things

button,
.nav > li a {
	&:focus {
		outline: none;
	}
}

button {
	-webkit-appearance:none;
}

.hide-small {
	@include mq(mobile-lg) {
		opacity:0;
		width:0;
		height:0;
		visibility: hidden;
	}
}

.show-small {
	display:none;
	@include mq(mobile-lg) {
		display:block;
	}
}