//
// Reset
// --------------------------------------------------

.container {
	@include mq(tablet-sm){
		width: 90%;
		margin: auto;
	}
	@include mq(mobile-lg) {
		width: 96%;
		margin: auto;
	}
}  

