//
// Users 
// --------------------------------------------------

// Main User Profile on SideBar Header
.user--primary,
.user--secondary {
	position: relative;
	padding: 0.5em 0.25em;
}


.user--primary-img,
.user--secondary-img {
	width: 60px;
	height: 60px;
	@include mq(mobile-lg) {
		width: 48px;
		height: 48px;
	}
}

.user--secondary {
	width: auto;
}

// User profile image in the contact list
.contactImg {
	width: 36px;
	height: 36px;
}

// Let's go DRY
.user--primary-info,
.user--secondary-info,
.contact-profile {
	position: relative;
}

.user--primary-img,
.user--secondary-img,
.contactImg {
	position: relative;
	display:inline-block;
	margin-right: em(10px);
	border-radius: 50%;
	vertical-align: middle;
}

.user--primary-img,
.user--secondary-img {
	& ~ .status-label {
		@extend %status-lg;
	}
}


.user--primary-info,
.user--secondary-info,
.contactInfo {
	display: inline-block;
	vertical-align: middle;
	.contactName {
		display:block;
		margin:0;
	}
}

.user--primary-status,
.user--secondary-status,
.contactStatus {
	display:block;
	font-size: em(12px);
	text-transform: uppercase;
	color: lighten(palette(gray, lighter),5%);
	font-family: $font--family-light;
}

.contact-list {
	overflow-y:scroll;
}

.user--chat-img {
	display:block;
	border-radius: 50%;
	@extend %absolute--center-v;
	&.sm {
		width: 32px;
		height: 32px;
	}
}