//
// Extends
// --------------------------------------------------


// Status Label
%status-label {
	display:block;
	position: absolute;
	border-radius: 50%;
	&.online {
		background: palette(green-hub3c);
	}
	&.offline {
		background: palette(grey, light);
	}
	&.idle {
		background: palette(yellow, light);
	}
}

%status-lg {
	@extend %status-label;
	width: 14px;
	height: 14px;
	bottom: 20px;
	left: 60px;
}

%status-sm {
	@extend %status-label;
	width: 10px;
	height: 10px;
	bottom: 0em;
}

%liststyle {
	list-style: none;
	margin-left:0;
	padding-left:0;
}

%btn-icon {
	width: 40px;
	color: palette(white);
	height: 40px;
	padding: 0;
	border-radius: 50%;
	background-color: palette(blue, darker);
	border: 1px palette(blue, darker);
	&:hover,
	&:active, 
	&:focus {
		color: palette(white);
		background: palette(blue, dark);
	}
}

%btn-icon--sm {
	width: 28px;
	height:28px;
	font-size: em(12px);
	line-height: 28px;
	color: palette(blue, light);
}

%btn-icon--lg {
	width: 60px;
	height: 60px;
	font-size: em(21px);
	line-height: 60px;
}