//
// Helpers
// --------------------------------------------------

// Get rid of bootsrap things

button,
.nav > li a {
	&:focus {
		outline: none;
	}
}

button {
	-webkit-appearance:none;
}

.hide-small {
	@include mq(mobile-lg) {
		opacity:0;
	}
}