//
// Site Footer
// -------------------------

.site--footer {
	background: palette(grey);
	padding-top: 2em;
	padding-bottom: 2em;
	height: 91px;
	margin-top: -91px;
	p {
		margin:0;
		font-size: em(14px);
	}
}