.page--content {
	position: relative;
	background: palette(clouds);
	padding-top: 4em;
	padding-bottom: 4em;
	min-height: calc(100% - 568px);
	p:last-of-type {
		margin-bottom:0;
	}
}

// Front Page

.page-section {
	padding-top: 4em;
	padding-bottom: 4em;
	&:first-of-type {
		padding-top:0;
	}
	&:last-of-type {
		padding-bottom: 0;
	}
}

.section-headline {
	font-family: $font--family-light;
	font-size: 3em;
	line-height: 1.1;
}

.section-subheadline {
	font-family: $font--family-bold;
	color: palette(blue, darker);
}

// Page Partnerships

.page--content {
	&.global-partners-program {
		section {
			h3 {
				font-family: $font--family-bold;
				color: palette(blue, darker);
			}
			p {
				a {
					border-bottom: 1px dotted palette(clouds, darker);
					color: palette(blue, darker);
					&:hover,
					&:active {
						color: palette(blue);
					}
				}
			}
		}
	}
}

.page--content {
	&.apps {
		.apps-list {
			padding-top: 2em;
			padding-bottom: 2em;
		}
		.app-icon {
			width: 120px;
			height:120px;
			display:inline-block;
			margin:2em 0.5em;
			figcaption {
				margin-top:1em;
				font-size: em(12px);
				text-transform: uppercase;
			}
			img {
				width:96%;
				max-width:96%;
				height:auto;
			}
		}
	}
}
