//
// Page
// -------------------------

.page--header {
	position:relative;
	overflow:hidden;
	height: 568px;
	overflow:hidden;
	background-color: palette(blue, darker);
	.page--header-bg {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 0;
		&::before {
			content: '';
			display:block;
			position: absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			background-color: palette(blue, darker);
			z-index:1;
			opacity: 0.75;
		}
		& > img {
			opacity:0;
			@include fadeIn();
			animation-name: kenburns;
			animation-duration: 120s;
			animation-timing-function: ease-out;
 			animation-fill-mode: forwards;
 			-webkit-animation-fill-mode: forwards;
		}
	}
	display: table;
	width: 100%;
	.inner-wrap {
		position:relative;
		z-index: 1;
		display: table-cell;
		vertical-align: middle;
	}
}

// Play-Button
a.video--play-btn {
	@include transition(0.2s all ease-in-out);
	display: block;
	margin: 1em 0;
	span.play--btn {
		cursor: pointer;
		display:inline-block;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		text-align: center;
		font-size: 1em;
		line-height:48px;
		vertical-align: middle;
		color: palette(white);
		background: palette(green-hub3c);
	}
	span.video--caption {
		display:inline-block;
		margin-left: 5px;
		color: palette(clouds, darker);
		cursor: pointer;
	}
}

.page--headline {
	margin: 0;
	font-size: 4em;
	line-height:1.1;
	font-family: $font--family-light;
	color: palette(white);
	@include mq(mobile-lg) {
		font-size: 3em;
	}
}

.page--subheadline {
	margin: 0;
	font-family: $font--family-light;
	color: palette(clouds);
}

// Pseudo

.page--header {
	&::before,
	&::after {
		position: absolute;
		z-index: 2;
		content: '';
		height: 40px;
		background: palette(clouds);
		bottom: 0;
	}
	&::before {
		width: 30%;
		border-radius: 0 50px 0 0;
		left:0;
	}
	&::after {
		width: 70%;
		border-radius: 50px 0 0 0;
		right: 0;
	}
}

// Apps Page

.page--header.apps {
	&::before,
	&::after {
		width: 50%;
	}
	.page--header-bg {
		&::before {
			z-index:0;
		}
	}
}
