//
// Fonts: Source Sans Pro
// --------------------------------------------------

@font-face {
  font-family: 'SourceSansPro Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff');
  font-weight:300;
}

@font-face {
  font-family: 'SourceSansPro Light';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'SourceSansPro Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff');
  font-weight: 200;
}