---
layout: default
---
<section id="pageHeader" class="page--header{% if page.url == '/' %} frontpage{% endif %}">
	<div class="inner-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="page--headline">{{page.headline}}</h1>
					<a href="#" class="video--play-btn">
						<span class="play--btn"><i class="fa fa-video-camera"></i></span>
						<span class="video--caption">See it in action - { open a modal video }</span>
					</a>	
				</div>
			</div>		
		</div>
	</div>
	<div class="page-header-bg"></div>	
</section>
<div id="pageContent" class="page--content">
</div>