//
// Main Stage
// --------------------------------------------------

.main-stage,
.main-stage-header {
	position: fixed;
	z-index: 1;
	width: 75%;
	max-width: calc(100% - 320px);
	right: 0;
	@include mq(mobile-lg) {
		width: 100%;
	}
}

.main-stage {
	height: 100%;
	max-width: calc(100% - 320px);
}

.main-stage-content {
	display: table;
	width: 100%;
	height: 100%;
	.main-stage-inner {
		display: table-cell;
		vertical-align: bottom;
	}
}