<div class="toolbar--chat">
  <div class="toolbar--chat-inner">
    <span class="input-file-container">
      <label for="sendFile" class="control-label sr-only">Send File</label>
      <input type="file" id="sendFile" class="send-file">
      <button type="button" class="btn btn-icon btn-icon--sm"><i class="fa fa-file"></i></button>
    </span>
    <label for="shareScreen" class="control-label sr-only">Share Screen</label>
    <button type="button" class="btn btn-icon btn-icon--sm"><span class="sr-only">Share Screen</span><i class="fa fa-desktop"></i></button>
    <button type="submit" class="btn btn-icon btn-icon--lg"><span class="sr-only">Send Message</span><i class="fa fa-paper-plane"></i></button>
  </div>    
</div>