<div class="toolbar--chat-top">
  <div class="toolbar--chat-inner">
  	<!--
   	<button type="button" class="btn btn--icon-lg" title="Start Voice Call"><span class="sr-only">Start Voice Call</span><i class="fa fa-phone"></i></button>-->
    <button id="backToContacts" type="button" class="btn btn--icon-lg btn--back-to-contacts" title="Back to Contacts"><span class="sr-only">Back to Contacts</span><i class="fa fa-user"></i></button>
    <button id="startVideoCall" type="button" class="btn btn--icon-lg" title="Start Video Call"><span class="sr-only">Start Video Call</span><i class="fa fa-video-camera"></i></button>
  </div>    
</div>