<div class="toolbar--chat">
  <div class="toolbar--chat-inner">
    <span class="input-file-container btn--send-file">
      <button type="button" class="btn btn--icon-sm"><i class="fa fa-file"></i></button>
      <label for="sendFile" class="control-label sr-only">Send File</label>
      <input type="file" id="sendFile" class="send-file">
    </span>
    <button type="button" class="btn btn--icon-sm btn--share-screen">
      <span class="sr-only">Share Screen</span><i class="fa fa-desktop"></i>
    </button>
    <button type="submit" class="btn btn--icon-lg btn--send-message">
      <span class="sr-only">Send Message</span><i class="fa fa-paper-plane"></i>
    </button>
  </div>    
</div>