<ul class="nav nav-stacked contacts-list">
  {% for contact in site.contacts %}
    {% if page.url == contact.url %}
    <li class="contact-info active">
    {% else %}
    <li class="contact-info">
    {% endif %}
      <a href="{{ contact.url | prepend: site.baseurl }}">
        <span class="contactImg"><img src="{{ contact.img | prepend: site.assets.img | prepend: site.baseurl | prepend: site.url }}" class="img-responsive img-circle">
        <span class="status-label {{ contact.status | downcase }}"></span></span>
        <span class="contactInfo">
          <span class="contactName">{{ contact.title }}</span>
          <span class="contactStatus">{{ contact.status }}</span>
        </span>
      </a>
    </li>
  {% endfor %}
</ul>