<section id="videoStage" class="video--stage video--stage-{{layout.page}}">
	<div class="video--stage-wrapper">
		<header id="videoStageHeader" class="video--stage-header">
			<div class="video--toolbar-top">
				<button id="openContacts" class="btn btn--icon-lg btn--open-contacts"><span class="sr-only">My Contacts</span><i class="fa fa-user"></i></button>
				<button id="hangUp" class="btn btn--icon-lg btn--hang-up"><span class="sr-only">Hang Up</span><i class="fa fa-phone"></i></button>
			</div>
		</header>
		<div id="videoStageContent" class="video--stage-content">
		</div>
	</div>	
	<footer id="videoStageFooter" class="video--stage-footer">
		<div class="video--toolbar-bottom">
			<button id="muteVoice" class="btn btn--icon-lg btn--mute-voice"><span class="sr-only">Mute</span><i class="fa fa-microphone"></i></button>
			<button id="muteVideo" class="btn btn--icon-lg btn--mute-video"><span class="sr-only">Video Off</span><i class="fa fa-video-camera"></i></button>
			<button id="shareScreen" class="btn btn--icon-lg btn--share-screen"><span class="sr-only">Share Screen</span><i class="fa fa-desktop"></i></button>
		</div>
		<button id="openChat" class="btn btn--icon-lg btn--open-chat"><span class="sr-only">Open Chat Window</span><i class="fa fa-comments"></i></button>
	</footer>
</section>